body, html {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
}


.addtext {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}


.inputname, .inputtime, .selectday {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.inputname {
    flex: 2;
}


.inputtime {
    flex: 1;
}


.selectday {
    flex: 1.5;
}


.addbtn {
    background-color: #007BFF;
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.addbtn:hover {
    background-color: #0056b3;
}


.osnova {
    margin: 20px;
}


details {
    margin-bottom: 10px;
}


summary {
    background-color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.dayinside {
    background-color: #FFF;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   gap: 15px;


 
}


.dayinside p {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
  flex: 1 0;
}


.dayinside button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}


.dayinside button:hover {
    background-color: #0056b3;
}
.task{
    display: flex;
   
   
}
